<!-- Start about -->
<div class="container" id="about">
	<div class="tile is-ancestor">
		<div class="tile is-vertical">
				<div class="tile is-parent">
			<article class="tile is-child notification is-primary">
					<p class="title">
						Qué?</p>
					<p class="subtitle">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo culpa magnam ex recusandae exercitationem.
					</p>
				</article>
			</div>
			<div class="tile">
				<div class="tile is-parent is-vertical">
					<article class="tile is-child notification is-warning">
						<p class="title">Qui?</p>
						<p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo culpa magnam ex recusandae
							exercitationem.
						</p>
					</article>
					<article class="tile is-child notification is-info">
						<p class="title">Per què?</p>
						<p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo culpa magnam ex recusandae
							exercitationem.
						</p>
					</article>
				</div>
					<div class="tile is-parent is-vertical">
					<article class="tile is-child notification is-dark">
						<p class="title">Com?</p>
						<p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo culpa magnam ex recusandae
							exercitationem.
							</p>
					</article>
					<article class="tile is-child notification is-success">
						<p class="title">
							Quants?</p>
						<p class="subtitle">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illo culpa magnam ex recusandae exercitationem.
						</p>
					</article>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- End about -->