<!-- Start about -->
<div class="container" id="about">
  <div class="tile is-ancestor">

    <div class="tile is-vertical">

      <div class="tile is-parent">
        <article class="tile is-child notification is-primary" id="wp-post">
        </article>
      </div>

      <div class="tile">

        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-warning" id="wp-post">
          </article>

          <article class="tile is-child notification is-info" id="wp-post">
          </article>
        </div>

        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-dark" id="wp-post">
          </article>

          <article class="tile is-child notification is-success" id="wp-post">
          </article>
        </div>

      </div>

    </div>
  </div>

</div>
<!-- End about -->
