<!-- Start general status nav -->
<nav class="column">
  <p class="panel-heading">
    General Statistics
  </p>
  <!-- Start statistics level -->
  <div class="panel-content" style="margin: 20px">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total Clients</p>
          <p class="title" id="total_users">0</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Current Connected Clients</p>
          <p class="title" id="connected_users">0</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Today DNS Queries</p>
          <p class="title" id="dns_queries_today">0</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Blocked Today</p>
          <p class="title" id="ads_blocked_today">0</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Percentage Blocked today</p>
          <p class="title" id="ads_percentage_today">0</p>
        </div>
      </div>
    </nav>
    <!-- End statistics level -->
    <hr>
  </div>
  <!-- End panel content -->

</nav>
<!-- End general status nav -->
