<!-- Start notifications -->
<div class="container is-fullhd ">
  <div class="notification has-text-centered ">
    There are currently
    <strong><span id="connected_users">0</span> devices</strong>
    <span class="icon has-text-info ">
      <i class="fas fa-mobile "></i>
    </span>
    connected to our
    <strong>network</strong>.
  </div>
</div>
<br>
<!-- End notifications -->
