<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= blocks.title %>
  </title>
  <link rel="stylesheet" href="/assets/css/sandstone.min.css">
  <script defer src="/assets/js/fontawesome.min.js"></script>
  <script defer src="/assets/js/main.js"></script>
  <script defer src="/assets/js/<%= blocks.script %>.js"></script>
  <script defer src="/assets/js/apexcharts.min.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <%- body  %>

  <footer class="footer" id="foot">
    <div class="content has-text-centered">
      <p>
        <strong>Hotspot</strong> by
        <a href="https://sergivb01.me">Sergi Vos Bosch</a>
      </p>
      <p>Part de Treball de Recerca (2018-2019) de Sergi Vos Bosch.</p>
    </div>
  </footer>

</body>

</html>
